
<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%=  welcomeText %> </p>

<% pMessages.forEach(function(message){ %>
<h1> <%= message.title %></h1>
<p> <%= message.content.substring(0, 100) + " ..." %> <a href="/posts/<%=message.title%>">Read More</a></p>
<%  console.log(message); %>
<% }); %>

<%- include("partials/footer") -%>
